.special-font {
    font-family: gt-esti !important;
    letter-spacing: 1px !important;
}

.menu-control{
    display: none;
}
/* mian home row styles */

.dynamic-part {
    background-color: transparent !important;
}

.main-home-row {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #B5B5B5;
}

/* carousel css */
.carousel {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.featured {
    height: 10%;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    /* font-weight: bold; */
    letter-spacing: 5px;
    opacity: 1;
}

.carousel-inner {
    width: 100%;
    height: 90%;
}

.carousel-item {
    width: 100%;
    height: 100%;
    opacity: 1;
}

@media(max-width:1300px) {
    .carousel-item {
        height: auto;
    }
}


.carousel-second-part {
    width: 100%;
    height: 100%;
    /* display: flex; */
}

.carousel-second-part-top {
    width: 100%;
    height: 80%;
}

.carousel-second-part-top h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: medium;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
    width: fit-content;
}

.carousel-second-part-top p {
    font: normal normal normal 11px/15px Segoe UI;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
}

.carousel-second-part-top img {
    width: 200px;
    height: 150px;
    display: block;
    margin: auto;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
}

.carousel-second-part-bottom h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0px;
    color: black;
    opacity: 1;
}

.carousel-second-part-bottom {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.carousel-second-part-bottom a {
    padding: 10px 15px;
    display: inline-block;
    width: 120px;
    text-align: center;
    background: #105082 0% 0% no-repeat padding-box;
    opacity: 1;
    border: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-decoration: none;
    border-radius: 6px;
    box-shadow: var(--btn-box-shadow);
    -webkit-box-shadow: var(--btn-box-shadow);
    -moz-box-shadow: var(--btn-box-shadow);
    transition: all 0.5s ease-in-out;
}

.carousel-second-part-bottom a:hover {
    background: #004070;
}



.carousel-control-next,
.carousel-control-prev {
    position: static;
    opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s 1ms;
}

/* media queries region */
@media(max-width:668px) {
    .carousel-second-part {
        flex-direction: column-reverse;
        padding: 15px !important;
    }

    .carousel-second-part-left {
        width: 100% !important;
    }

    .carousel-second-part-right {
        width: 100% !important;
    }
}


/* products cards styles */
.products-cards {
    width: 100%;
    height: auto;
    margin: auto;
}

.grid_system_square {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid_system_rectangle {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.products-cards .card {
    width: 200px;
    height: 230px !important;
    margin: 0 5px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow: hidden;
    opacity: 1;
}

@media(max-width:668px) {
    .products-cards .card {
        width: 70vw !important;
        margin: auto;
    }
}

.products-cards .card .featured-tag {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #105082;
    color: white;
    padding: 2px 10px !important;
    font-size: 10px;
    font-family: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    opacity: 1;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;

}

.products-cards .card .discount-tag {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #EA008B;
    color: white;
    padding: 4px 15px;
    font-size: 13px;
    font-family: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    opacity: 1;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;

}


.card-head {
    height: 60%;
}

.time-part {
    height: 10%;
    font-size: 12px;
    font-family: nunito-regular !important;
    font-weight: 700;
    text-align: center;
}

.products-cards .card .products-card-link {
    width: 100%;
    height: 10%;
}

.products-cards .card .card-body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.products-cards .card .card-footer {
    width: 100%;
    height: 20%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer-icons-part {
    height: 100%;
    width: 50%;
}

.footer-icons-part i {
    font-size: 14px;
    background-color: #105082;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.footer-price-time-part {
    height: 100%;
    width: 50%;
}

.footer-price-part {
    height: 30%;
    width: 100%;
    text-align: center;
}

.footer-price-part p {
    font-size: 13px;
    font-family: nunito;
    font-weight: 700;
}

.footer-time-part {
    height: 60%;
    width: 100%;
}


.card-body-first {
    width: 100%;
    height: 35%;
}

.card-body-first h5 {
    color: #EA008B;
    font-size: 15px;
    font-weight: medium;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0px;
    opacity: 1;
}

.card-body-second {
    width: 100%;
    height: 65%;
}

.card-body-second p {
    font-size: 9px;
    font-family: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    line-height: 1;
    color: #000000;
    opacity: 1;
    height: 7%;
}

/* category cards styles */
.ruby-row {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #B5B5B5;
    opacity: 1;
}

.category-name {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #105082;
    opacity: 1;
    margin-bottom: 10px;
    width: fit-content;
    position: relative;
}

.category-name::after {
    content: "";
    height: 5px;
    width: 100%;
    background-color: #EA008B;
    position: absolute;
    right: 0%;
}

/* category page styles */
.category-main {
    width: 100%;
    height: 100%
}

.filter {
    width: 100%;
    margin: auto;
    height: 10%;
    padding-top: 7px;
    padding-left: 12px
}

.filter select {
    height: 80%;
    width: 24%;
    border: none;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(34, 34, 34, 0.132);
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter select:focus {
    outline: none;
    box-shadow: none;
}

@media(max-width:1100px) {
    .filter {
        width: 100%;
        margin: auto;
        height: auto
    }

    .filter select {
        width: 25%;
        height: 34px;
        margin-bottom: 5px
    }
}

/* no data div styles */
.no-data {
    width: 100%;
    height: 100%;
    position: relative;
}

.no-data-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    height: 20%;
}

@media(max-width:768px) {
    .no-data-img {
        width: 30%;
        height: 30%;
    }
}

.no-data-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100%;
    filter: invert(1);
}

.no-data-img p {
    text-align: center;
    font-size: 21px;
    font-family: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    line-height: 1.5;
    color: #000000;
    opacity: 1;
    height: 7%;
}

button:hover {
    outline: none !important;
    box-shadow: none !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.bid-history-details {
    border-bottom: 1px solid rgb(194, 191, 191);
}
